<h1>{{ corps.name }}</h1>

<!-- .. goes up to /corps (the full corps listing) -->
<a href="#!/corps">Back</a>

<section id="info">
  <h3>Corps Info</h3>
  <p>
    <b>Hometown: </b>{{ corps.city + ', ' + corps.state }}<br>
    <b>Class: </b>{{ corps.class }}
  </p>
</section>

<section id="shows">
  <h3>Shows</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <th>Title</th>
      <th>Year</th>
    </thead>
    <tbody>
      <tr ng-repeat="s in shows">
        <td>{{ s.title }}</td>
        <td>{{ s.year }}</td>
      </tr>
    </tbody>
  </table>
</section>

<section id="competitions">
  <h3>Competitions</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
      <th>Date</th>
      <th>Score</th>
    </thead>
    <tbody>
      <tr ng-repeat="c in comps">
        <td><a href="#!/comps/{{ c.comp_id }}">{{ c.name }}</a></td>
        <td>{{ c.comp_date }}</td>
        <td>{{ c.score }}</td>
      </tr>
    </tbody>
  </table>
</section>
