<md-dialog aria-label="Login">
    <form ng-cloak>
        <md-input-container>
            <label>Username</label>
            <input type="text" id="username"
                   ng-model="username" md-autofocus>
        </md-input-container>
    </form>
    <form ng-cloak>
        <md-input-container>
            <label for="Password">Password</label>
            <input type="text" id="password"
                   ng-model="password" md-autofocus>
        </md-input-container>
    </form>
    <button ng-click="logIn()">Confirm</button>
</md-dialog>