<md-dialog aria-label="Login">
    <form ng-cloak>
        <md-input-container>
            <label for="Username">Username</label>
            <input type="text" id="username"
                   ng-model="data" md-autofocus>
        </md-input-container>
    </form>
    <form ng-cloak>
        <md-input-container>
            <label for="Password">Password</label>
            <input type="text" id="password"
                   ng-model="data" md-autofocus>
        </md-input-container>
    </form>
    <button ng-click="logIn()">Confirm</button>
</md-dialog>