<md-dialog>
    <form ng-cloak>
        <md-input-container>
            <label>First Name</label>
            <input ng-model="fname" md-autofocus>
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input ng-model="lname" md-autofocus>
        </md-input-container>
        <md-input-container>
            <label>Corps</label>
            <input ng-model="corps" md-auto-focus>
        </md-input-container>
        <md-input-container>
            <label>Years</label>
            <input ng-model="years" md-auto-focus>
        </md-input-container>
        <md-input-container>
            <label>Section</label>
            <input ng-model="section" md-auto-focus>
        </md-input-container>
    </form>
    <a href="#!/add">
    <button ng-click="add()">Submit</button>
        </a>
</md-dialog>